body {
    background-color: rgb(37, 126, 37);
}

img {
    border: 10px solid white;
    float: right;
    width: 25%;
    border-radius: 20px;
}

.content-1 {
    display: inline-block;
    height: 25%;
    width: 900px;
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    border-radius: 20px;
    padding: 0px 5px 0px 5px;
    font-size: large;
    box-shadow: 12px 5px 12px black;
}